# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/*.classpath
/.gradle/2.5/taskArtifacts
/.gradle/*.log
/.project
/*.launch
/config/*.cfg
/config/*.properties
/logs
/options.txt
/saves/New World/DIM-1/data
/saves/New World/DIM-1
/saves/New World/DIM1/data
/saves/New World/DIM1
/saves/New World/data
/saves/New World
/screenshots
/usernamecache.json
